<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="search" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Search</label>
                <field id="search_type" translate="label" type="select" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search Type</label>
                    <source_model>WebMeridian\SearchType\Model\System\Config\Source\SearchType</source_model>
                </field>
                <field id="max_query_words" translate="label" type="text" sortOrder="710" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Query Words Count</label>
                    <validate>validate-digits</validate>
                    <comment>Applies for "Like" search type only.</comment>
                </field>
            </group>
        </section>
    </system>
</config>